%h3.textcenter コメントの編集
= form_with url: post_comment_path, method: :patch do |f|
  .row
    .field.col.s4.offset-s4
      = f.label :コメント
      = f.text_area :content, value: "#{@comment.content}", class: "textarea"
  .row
    = f.submit "編集", class: "waves-effect waves-light btn-large col s4 offset-s4"
  .row
    = link_to post_comment_path, class: "red wwaves-effect waves-light btn-large col s4 offset-s4", method: :delete do
      削除