%h3.textcenter 新規投稿
= form_with model: @post do |f|
  .row
    .field.col.s4.offset-s4
      = f.label :タイトル
      = f.text_field :title, autofocus: true, placeholder: "伝えたい出来事に名前をつけよう"
  .row
    .field.col.s4.offset-s4
      = f.label :内容
      = f.text_area :content, placeholder: "伝えたい出来事を届けよう", class: "textarea"
  .row
    .field.col.s4.offset-s4
      = f.fields_for :images do |i|
        = i.file_field :image, multiple: true, type: 'file', name: "images[image][]"
  .row
    .field.col.s4.offset-s4
      = f.fields_for :tags do |tag|
        = tag.label :タグ
        = tag.text_field :name, name: "tag_name", placeholder: "複数タグの入力は「,」で区切る"
  .row
    = f.submit "投稿", class: "waves-effect waves-light btn-large col s4 offset-s4"